
<div class="pointer" data-toggle="collapse" data-target="#collapseExample" aria-expanded="true" aria-controls="collapseExample"> Projects:</div>
<hr>
<div class="collapse show" id="collapseExample">
<ul class="list-group">
  <li  class="list-group-item d-flex justify-content-between align-items-center" *ngFor="let project of projects">
    <span class="pointer"  (click)="selectProject(project.id)">{{project.name}}</span> <span class="badge badge-primary badge-pill">{{countTask(project.id)}}</span>
  </li>
</ul>
</div>
