<br>
<div class="card">
    <div class="card-header">
      {{dataArray[1] || 'ToDoList'}}
    </div>
</div>
<br>
<div *ngIf="!dataArray[0]" align="center"><b>Keep your tasks organized in project</b><br>
      Group your tasks by goal or area of your life.</div>
  <div *ngIf="selectedTasks">
      <ul class="list-group">
          <li class="list-group-item" *ngFor="let task of selectedTasks">{{task.content}}</li>
        </ul>
  </div>
  <div *ngIf="dataArray[0]"><app-add-task></app-add-task></div>
