<br>
<form>
<div *ngIf="displayAddForm; then thenBlock; else elseBlock"></div>
</form>


<ng-template #thenBlock>
    <div class="card">
    <h6 class="card-header">Today <small>{{ now | date:'yyyy.MM.dd'}}</small></h6>
    <div class="card-body">
       <input type="text" class="form-control"><br>
       <button type="submit" class="btn btn-danger">Add Task</button>&nbsp;&nbsp;<a (click)="displayAddForm = false" class="pointer">Cancel</a>
  </div>
  </div>
</ng-template>

<ng-template #elseBlock>
    <div class="card">
    <h6 class="card-header">Today <small>{{ now | date:'yyyy.MM.dd'}}</small></h6>
    <div class="card-body">
       <a class="pointer" (click)="displayAddForm = true">Add Task</a>
    </div>
    </div>
</ng-template>

