<nav class="navbar navbar-dark bg-primary">
    <span class="navbar-brand mb-0 h1"><app-user-nav></app-user-nav></span>
  </nav>

  <div *ngIf="!userLogin; then thenBlock; else elseBlock"></div>

 <ng-template #thenBlock>
<div class="container">
  <div class="row">
    <div class="col-2">
      witaj zaloguj się
    </div>
  </div>
</div>
</ng-template>

<ng-template #elseBlock>
<div class="container">
    <div class="row">
      <div class="col-2"></div>
      <div class="col">
        <app-projects-menu></app-projects-menu>
      </div>
      <div class="col-6">
        <app-selected-project></app-selected-project>
      </div>
      <div class="col-2"></div>
    </div>
  </div>
</ng-template>
